div{
    width: 200px;
    height: 100px;
    margin: 10px;
    border: 5px black dashed;
}
    #div1{
        background-color: rgb(19, 27, 139);
    }
    #div2{
        background-color: #480366;
        background-clip: padding-box;
    }
        #div3{
            background-image: url("http://icons.veryicon.com/File Type/mnemo Filetype/css.png");
            background-repeat: no-repeat;
        }
            #div4{
                background-image: url("http://icons.veryicon.com/File Type/mnemo Filetype/css.png");
                background-repeat: no-repeat;
                background-origin: border-box;
            }
                #div5{
                    background-image: url("http://www.anujgakhar.com/wp content/uploads/2014/07/ccs1.png");
                    background-repeat: no-repeat;
                    background-attachment: fixed;
                    background-position: top center;
                }
                